<section id="sobreMim" class="d-flex justify-content-center container-fluid">
  <div class="profile-card">
    <div class="profile-image">
      <img src="./assets/images/profile-pic square.png" alt="Foto de Lucas">
    </div>
    <div class="profile-content">
      <h2>Quem sou?</h2>
      <h1>Lucas</h1>
      <h3>Fullstack Developer</h3>
      <p>Olá, sou desenvolvedor web, tenho 23 anos, estudo programação desde 2021, e atualmente faço faculdade de
        Ciencia da Computação onde estou aprofundando meus conhecimentos em desenvolvimento de software. Iniciei
        minha carreira
        profissional em julho de 2023 e, desde então, tenho atuado no desenvolvimento de landing pages e sistemas simples. Atualmente
        estou expandindo meus conhecimentos em Spring/Java e Angular. Meu foco é criar soluções eficientes e de
        qualidade no
        desenvolvimento frontend e backend.
      </p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/lucas-boareto-6b3964216/" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-linkedin"></i></a>
        <a href="https://github.com/LucasBXavier" target="_blank" rel="noopener noreferrer"><i class="devicon-github-original"></i></a>
        <a href="https://www.instagram.com/lucasboareto.dev/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        <a href="/assets/cv/curriculo_Novo.pdf" download="curriculo-Lucas.pdf" id="button-40"
          class="download-link">download cv <i class="fas fa-file-pdf"></i></a>
        <!-- <a href="#"><i class="fab fa-behance"></i></a> -->
      </div>
    </div>
  </div>
</section>
