<article class="d-flex justify-content-center container-fluid">
  <div class="profile-card">
    <div class="profile-image">
      <img src="./assets/images/pic.jpg" alt="Foto de Lucas">
    </div>
    <div class="profile-content">
      <h2>Quem sou</h2>
      <h1>Lucas</h1>
      <h3>Fullstack Developer</h3>
      <p>Olá, sou Lucas, desenvolvedor fullstack me especializando em Back-end. Atualmente, atuo como
        Back-end Developer e sou
        estudante de Ciência da Computação, onde estou aprofundando meus conhecimentos em desenvolvimento de
        software. Tenho
        experiência em criar aplicações modernas, focadas em alta performance e eficiência. Além disso, também
        trabalho como
        Front-end Developer em projetos paralelos, aprimorando minhas habilidades em desenvolvimento web completo.
      </p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/lucas-boareto-6b3964216/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/lucas_bx/"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/LucasBXavier"><i class="fas fa-laptop-code"></i></a>
        <!-- <a href="#"><i class="fas fa-gamepad"></i></a>
        <a href="#"><i class="fas fa-cat"></i></a>
        <a href="#"><i class="fab fa-behance"></i></a> -->
      </div>
    </div>
  </div>
</article>