@import "../app.component.scss";

.navbar {
  display: flex;
  justify-content: space-between; /* Espaça o nome à esquerda e o botão off-canvas à direita */
  align-items: center; /* Centraliza verticalmente os itens na navbar */
  padding: 20px 100px; /* Ajuste de padding para um espaço uniforme */
  position: fixed; /* Torna a navbar fixa */
  top: 0; /* Alinha a navbar ao topo da página */
  width: 100%; /* Garante que a navbar ocupe toda a largura */
  z-index: 1000;
  background-color: $cor--principal;
  border-bottom: 2px solid $cor--terciaria;
}

.nome:hover {
  cursor: pointer;
}

.logo {
  text-decoration: none;
  color: inherit;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: $cor--secundaria;
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
}

span {
  color: $cor--terciaria;
}

.links {
  display: flex;
  gap: 80px; /* Espaçamento entre os links */
  align-items: center; /* Alinha os itens verticalmente */

  a {
    position: relative; /* Necessário para o posicionamento absoluto do pseudo-elemento */
    font-size: 1.3rem;
    font-weight: 400;
    color: $cor--secundaria;
    text-decoration: none;
    font-family: "SUSE", sans-serif;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2.5px;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        270deg,
        $cor--terciaria 0%,
        $cor--principal 100%
      );
      transform-origin: bottom right;
      transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.ofcanvas-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 25px;
  z-index: 990;
  top: 38px;

  /* Exibe o botão off-canvas em dispositivos móveis */
  @media screen and (max-width: 768px) {
    display: block;
  }
}

h1 {
  color: $cor--terciaria;
  margin-bottom: 45px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: $cor--terciaria;
  margin: 6px 0;
  transition: 0.4s;
}

/* Animação do botão off-canvas */
.change .bar1 {
  transform: translate(0, 11px) rotate(-315deg);
}

.change .bar2 {
  opacity: 0;
  transform: translate(0, 11px) rotate(-315deg);
}

.change .bar3 {
  transform: translate(0, -11px) rotate(315deg);
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(39, 39, 39, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 980; /* Definido abaixo do botão */

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .offcanvas-content {
    text-align: center;
    color: white;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 20px 0;

        a {
          text-decoration: none;
          color: white;
          font-size: 1.5rem;
          font-weight: bold;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #a875ff; /* Cor ao passar o mouse */
          }
        }
      }
    }
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .offcanvas-content ul li a {
    font-size: 1.2rem; /* Tamanho menor em dispositivos móveis */
  }
  .navbar {
    padding: 35px 20px 15px; /* Reduz o padding em dispositivos móveis */
  }

  .links {
    display: none;
    font-size: 1em;
  }
  .logo {
    font-size: 1.7em;
  }
}
