<nav>
  <div class="navbar">
    <div class="nome">
      <a href="index.html" class="logo">LucasBoareto.<span>dev</span></a>
    </div>
    <div class="links">
      <a href="index.html">Home</a>
      <a href="#sobreMim">Sobre</a>
      <a href="#skills">Skills</a>
      <a href="#projetos">Projetos</a>
    </div>
    <div id="ofcanvas-btn" class="ofcanvas-btn" (click)="toggleOffcanvas()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div id="offcanvas" class="offcanvas">
      <div class="offcanvas-content">
        <br />
        <h1>Seja Bem-Vindo 😀</h1>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#sobreMim">Sobre</a></li>
          <li><a href="#skills">Habilidades</a></li>
          <li><a href="#projetos">Projetos</a></li>
          <!-- <li><a href="#contato">Contato</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
