<nav>
  <div class="navbar">
    <!-- <div class="logo">
      <a href="index.html">
        <img src="" alt="Logo">
      </a>
    </div> -->

    <div class="nome">
      <a href="index.html" class="logo">Lucas.<span>dev</span></a>
    </div>

    <div class="links">
      <a href="#sobreMim">Sobre</a>
      <a href="#">Skills</a>
      <a href="#">Projetos</a>
    </div>
  </div>

  <div id="ofcanvas-btn" class="ofcanvas-btn" (click)="toggleofcanvas()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <div id="ofcanvas" class="ofcanvas">
    <div class="ofcanvas-content">
      <br>
      <ul>
        <a href="#sobreMim">Sobre</a>
        <a href="#">Skills</a>
        <a href="#">Projetos</a>
      </ul>
    </div>
  </div>
</nav>