<section id="skills" class="skills-section">
  <h2>Habilidades<span>.</span></h2>
  <div class="grid-container">
    <div class="grid-item">
      <i class="fab fa-html5"></i>
      <p>HTML</p>
    </div>
    <div class="grid-item">
      <i class="fab fa-sass"></i>
      <p>SASS</p>
    </div>
    <div class="grid-item">
      <i class="fab fa-css3-alt"></i>
      <p>CSS</p>
    </div>
    <div class="grid-item">
      <i class="fab fa-angular"></i>
      <p>Angular</p>
    </div>
    <div class="grid-item">
      <i class="fab fa-bootstrap"></i>
      <p>BOOTSTRAP</p>
    </div>
    <div class="grid-item">
      <i class="fab fa-js-square"></i>
      <p>JavaScript</p>
    </div>
    <div class="grid-item">
      <i class="fab fa-java"></i>
      <p>Java</p>
    </div>
    <div class="grid-item">
      <i class="fas fa-leaf"></i>
      <p>Spring</p>
    </div>
    <div href="https://skillicons.dev" class="grid-item">
      <i class="devicon-csharp-plain"></i>
      <p>C#</p>
    </div>
    <div class="grid-item">
      <i class="devicon-dot-net-plain"></i>
      <p>.NET</p>
    </div>
  </div>
</section>