@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=SUSE:wght@100..800&display=swap");

$cor--principal: #000;
$cor--secundaria: #f6f6f6;
$cor--terciaria: #22d4fd;
$cor--hover: #272727;

// *{
//     margin: 0;
//     padding: 0;
// }
