<section id="projetos" class="projects-section">
  <div>
    <h2><span>[ </span>Projetos<span> ]
      </span></h2>

    <div class="projects-grid">
      <div class="project-card">
        <img src="../../assets/images/buscaCEP.png">
        <h3>Busca CEP</h3>
        <p class="tecnologias">
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>
        </p>
        <a href="https://lucasbxavier.github.io/busca-CEP/" target="_blank" rel="noopener noreferrer">
          <button class="view-project-btn">Ver Projeto</button>
        </a>
      </div>
      <div class="project-card">
        <img src="../../assets/images/vidaSemCLT.png">
        <h3>Método LD</h3>
        <p class="tecnologias">
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i></p>
        <a href="https://vidasemclt.com.br/" target="_blank" rel="noopener noreferrer">
          <button class="view-project-btn">Ver Projeto</button>
        </a>
      </div>
      <div class="project-card">
        <img src="../../assets/images/LGPD.png">
        <h3>em breve</h3>
        <p class="tecnologias"><i class="devicon-html5-plain colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-javascript-plain colored"></i></p>
        <a href="" target="_blank" rel="noopener noreferrer">
          <button class="view-project-btn" disabled>Ver Projeto</button>
        </a>
      </div>
      <div class="project-card">
        <img src="../../assets/images/construcao.png">
        <h3>em desenvolvimento</h3>
        <p class="tecnologias">
          projeto em desenvolvimento
        </p>
        <a href="" target="_blank" rel="noopener noreferrer">
          <button class="view-project-btn" disabled>Ver Projeto</button>
        </a>
      </div>
      <div class="project-card">
        <img src="../../assets/images/construcao.png">
        <h3>em desenvolvimento</h3>
        <p>projeto em desenvolvimento</p>
        <a href="" target="_blank" rel="noopener noreferrer">
          <button class="view-project-btn" disabled>Ver Projeto</button>
        </a>
      </div>
    </div>
  </div>
</section>
