<section id="projetos" class="projects-section">
  <div>
    <h2><span>[ </span>Projetos<span> ]
      </span></h2>

    <div class="projects-grid">
      <div class="project-card">
        <img src="../../assets/images/buscaCEP.png">
        <h3>Busca CEP</h3>
        <p>Site criado para consumir API dos correios</p>
        <a href="https://lucasbxavier.github.io/busca-CEP/" target="_blank" rel="noopener noreferrer">
          <button class="view-project-btn">Ver Projeto</button>
        </a>
      </div>
      <div class="project-card">
        <img src="../../assets/images/construcao.png">
        <h3>em desenvolvimento</h3>
        <p>projeto em desenvolvimento</p>
        <a href="" target="_blank" rel="noopener noreferrer">
          <button class="view-project-btn" disabled>Ver Projeto</button>
        </a>
      </div>
      <div class="project-card">
        <img src="../../assets/images/construcao.png">
        <h3>em desenvolvimento</h3>
        <p>projeto em desenvolvimento</p>
        <a href="" target="_blank" rel="noopener noreferrer">
          <button class="view-project-btn" disabled>Ver Projeto</button>
        </a>
      </div>
    </div>
  </div>
</section>