@import "./app/app.component.scss";
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  //background-color: #111;
  background-image: url("assets/images/wallpaper.jpg");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: $cor--hover;
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: $cor--terciaria;
  border-radius: 10px;
}

@media (max-width: 768px) {
  body {
    width: auto;
  }
}
